@font-face {
  font-family: "Inter";
  src: url(/src/fonts/inter-regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/src/fonts/inter-medium.ttf) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/src/fonts/inter-bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
