body {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  font-family: "Inter", "Arial";
  font-size: 15px;
  background-color: var(--color-silver-gray);
}

button {
  display: inline-flex;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
