:root {
  --color-light: #ffffff;
  --color-dark: #000;

  --color-silver-gray: #eeeeee;
  --color-light-gray: #dfdfdf;

  --border-radius: 20px;

  --input-height: 40px;

  --transition-duration: 0.2s;
}
