.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  min-width: 240px;
  min-height: 188px;
  padding-block: 20px;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
}
