.subject {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 100%;

  &__button {
    width: 18px;
    height: 18px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__label {
    cursor: initial;

    &.is-checked {
      color: gray;
      text-decoration: line-through;
    }
  }
}
